/* Use this to disable browser specific styling */
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
em,
strong,
form,
legend,
table,
caption,
article,
aside,
canvas,
figure,
figcaption,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
