/* Main Layout */
      #event-banner {
        background-color: var(--blue-light);
        background-image: linear-gradient(
          to right,
          var(--blue-light),
          var(--blue-dark)
        );
        border-radius: 10px;
        margin: 0 auto;
        max-width: 80vw;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
      /* Elements */
      #event-info {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        text-align: left;
      }
      #event-link {
        background-color: var(--yellow);
        border-radius: 25px;
        text-align: center;

        margin: 20px 0 10px;
        padding: 12px 14px;
      }
      #event-link:hover {
        background-color: var(--grey-dark);
      }
      /* Images */
      .img-container {
        width: auto;

        margin: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      #fedora-logo,
      #nest-logo {
        width: 320px;
        padding: 12px;
      }

      /* Media query to handle major small-screen changes */
      @media screen and (max-width: 1440px) {
        #fedora-logo {
          width: 80px;
      }
      #nest-logo {
        width: 160px;
      }